@CHARSET "ISO-8859-1";

.xbreadcrumbs LI {
	border-right: none;
	background: url(separator.png) no-repeat right;
	padding-right: 15px;
	padding-left: 10px;
}

.xbreadcrumbs LI.current {
	background: none;
}

.xbreadcrumbs LI UL LI {
	background: none;
}

.xbreadcrumbs LI A.home {
	background: url(home.png) no-repeat left center;
	padding-left: 20px;
}
