/*start form hoa don ban hang */
#form-hd-ban {
	position:relative;
	height:500px;
}
#form-hd-ban-header {
	position:relative;
	height:45px;
}
#form-hd-ban-header-left {
	width:300px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#form-hd-ban-header-left h2 {
	text-align:left;
	font-size:15px;
	font-weight:bold;
	padding:12px;
}
#form-hd-ban-header-center {
	width:300px;
	height:100%;
	margin:0 auto;
}
#form-hd-ban-header-center h1 {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:10px;
}
#form-hd-ban-header-right {
	width:300px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
#form-hd-ban-header-table {
    
}
#form-hd-ban-header-table tr {
    
}
#form-hd-ban-header-table tr td {
    padding: 0px 0px 0px 10px ;
    font-size: 12px;
}
#form-hd-ban-info {
	height:100px;
    width:auto;
	border-bottom:#000 solid 2px;
	border-top:#000 solid 2px;
}
#form-hd-ban-info-left {
	height:100%;
	width:60%;
	float:left;
}
#form-hd-ban-ma {
	padding:34px 25px 20px 0px;
	text-align:center;
}
#form-hd-ban-ma-label {
	padding-left:20px;
	font-size:24px;
}
#form-hd-ban-ma-input {
    margin-left: 20px;
	height:23px;
	width:170px;
	font-size:24px;
}
#form-hd-ban-info-right {
	height:100%;
	width:40%;
	float:left;
}
#form-hd-ban-info-table {
		
}
#form-hd-ban-info-table tr {

}
#form-hd-ban-info-table tr td {
	padding:10px 60px 5px 5px;
	font-size:16px;
}
.form-hd-ban-label{
    padding-right: 150px !important;
}
#form-hd-ban-list {
	height:auto;
	min-height:200px;
}
#form-hd-ban-command {
	height:40px;
	border-bottom:#000 solid 2px;
}
#form-hd-ban-button{
	float:right;
}
#form-hd-ban-footer {
	position:absolute;
	bottom:0;
	left:0;
	height:30px;
	width:100%;
	border-bottom:#000 solid 2px;
	border-top:#000 solid 2px;
    background-color: #6D91B9;
}
/*end form hoa don ban hang */

/*start grid */
.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}
/*end grid */