/*start form hoa don ban hang */
#form-hd-ban {
	position:relative;
	height:500px;
}
#form-hd-ban-header {
	position:relative;
	height:40px;
}
#form-hd-ban-header-left {
	width:300px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#form-hd-ban-header-left h2 {
	text-align:left;
	font-size:15px;
	font-weight:bold;
	padding:12px;
}
#form-hd-ban-header-center {
	width:300px;
	height:100%;
	margin:0 auto;
}
#form-hd-ban-header-center h1 {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:10px;
}
#form-hd-ban-header-right {
	width:300px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
#form-hd-ban-header-table {
    
}
#form-hd-ban-header-table tr {
    
}
#form-hd-ban-header-table tr td {
    padding: 3px 0px 3px 10px ;
    font-size: 12px;
}
#form-hd-ban-info {
	height:100px;
	border-bottom:#000 solid 2px;
	border-top:#000 solid 2px;
}
#form-hd-ban-info-left {
	height:100%;
	width:400px;
	float:left;
}
#form-hd-ban-ma {
	padding:34px 25px 20px 0px;
	text-align:center;
}
#form-hd-ban-ma-label {
	padding-left:20px;
	font-size:24px;
}
#form-hd-ban-ma-input {
    margin-left: 20px;
	height:23px;
	width:170px;
	font-size:24px;
}
#form-hd-ban-info-right {
	height:100%;
	width:auto;
	float:left;
}
#form-hd-ban-info-table {
		
}
#form-hd-ban-info-table tr {

}
#form-hd-ban-info-table tr td {
	padding:10px 60px 5px 5px;
	font-size:16px;
}
.form-hd-ban-label{
    padding-right: 150px !important;
}
#form-hd-ban-list {
	height:auto;
	min-height:200px;
}
#form-hd-ban-command {
	height:40px;
	border-bottom:#000 solid 2px;
}
#form-hd-ban-button{
	float:right;
}
#form-hd-ban-footer {
	position:absolute;
	bottom:0;
	left:0;
	height:30px;
	width:100%;
	border-bottom:#000 solid 2px;
	border-top:#000 solid 2px;
    background-color: #6D91B9;
}
/*end form hoa don ban hang */