.form {
    width:95%;
    padding-top:8px;
}


.form {
    padding:30px 30px 0px 30px;
    margin-top: -75px;

}
.form .cus-row label {
    width:100%;
}

.form .cus-row {
    float:left;
    width:220px;
    height:50px;
}

.form .cus-row input {
    width:160px;
}

.form .cus-row select {
    width:160px;
}

.form .cus-row .import-notes {
    width:472px;
    height:40px;
}

.header-voucher-info {
    overflow:hidden;
    padding-left:15px;
    background-color:#E8E2D6;
    border:1px solid #C5D5DD;
    height:160px;
}
.product-voucher-info {
    margin-top:10px;
    margin-bottom:10px;
    background-color:#bab7af;
    border:1px solid #C5D5DD;
    overflow:hidden;
    padding-left:20px;

}

.custom-error-messages {
    margin-left: 20px;
}

.error {
    margin-top: 10px;
}

#tri_gia_number {
    width:250px !important;
    font-weight:bold;
    color:#007f99;
    border:none;
    font-size:1.6em;
    background-color:#d6dbe0;
    padding-right:7px;
    border-radius:5px;
}
.number {
    text-align:right;
}

.form .cus-row .export-reason {
    width:160px;
    height:40px;
}

.form .cus-row .export-notes {
    width:470px;
    height:40px;
}

.form-login-wrapper {
    border:none;
}
#login-form-content {
    border:1px solid #5B77CC;
    width:400px;
    height:200px;
    padding:15px;
    margin:130px auto;
    text-align:center;
    background-color: #F1F1F1;
}

.error-4-series {
    
    margin-top:300px;
    text-align:center;
    font-size:1.8em;
    font-weight:bold;
    padding:20px;
}

#login-form-title {
    float:left;
    width:430px;
    height:50px;
    margin-left:-15px;
    margin-top:-15px;
    margin-bottom:30px;
    line-height:50px;
    background-image:url(../images/login-title.jpg);
}

#login-form-title span {
    font-size:1.5em;
    color:white;
    font-weight:bold;
}

.intro-image {
    float:left;
    width:auto;
    padding-left:20px;
    padding-right:20px;
}

.intro-image img {
    width:540px;
}

.intro-text {
    width:660px;
    float:left;
}

.intro-text p {
    text-align:justify;
}

.intro-text .intro-text-content {
    padding-left:30px;
}

.intro-text-header {
    font-weight:bold;
    color:#5B77CC;
}


.features-ul {
    padding-left:30px;
}
.features-ul li {
    padding-top:10px;   
}
