.search-form {
    overflow:hidden;
    -moz-box-shadow: 0 0 2px #00546b;
    -webkit-box-shadow: 0 0 2px #00546b;
    box-shadow: 0 0 2px #00546b;
}

.search-box-form {
    font-weight:bold;
}

.search-box-form .cus-row {
    width:180px;
    float:left;
    clear:none;
    padding-right:15px;
    padding-top:8px;
    height:45px;
}

.search-box-form .radio-list {
    margin-top:-6px;
    width:160px;
}

.search-box-form .cus-row select {
    width:160px;
}

.btn-search {
    width:80px;
    float:right;
    margin-top:20px;
    margin-right:10px;
}

/*default btn line*/

.btn-save {
    border-top:2px solid;
    border-bottom:2px solid;
    background-color:#BBDEF7;
    height:50px;
}

.btn-save input[type="submit"] {

    padding:2px 20px 2px 20px;
    float:right;
    margin-right:40px;
    margin-top:12px;
}

/*end default btn line */

/*start radio list */
.radio-list  {
    float:left;
    width:550px;
    padding-bottom:10px;
}

.radio-list span label {
    font-weight:normal;
}

.radio-list span input[type='radio'] {
    margin-top:7px;
}
/*end radio list */

/*detail view */

h1 {
    padding-bottom:20px;
    font-size:16px;
}

.detail-view {
    margin-top:100px;
}

.detail-view tr {

    height:30px;
}

.detail-view tr th {
    font-size:1.1em;
    line-height:25px;
    font-weight:bold;
}
.detail-view tr td {
    font-size:1.1em;
    line-height:25px;
}


/*end detail view */

/*start form style */

.form {
    width:700px;
    margin:0 auto;
}

.form .cus-row {
    padding-top:10px;
}


.form .cus-row input {
    width:180px;

}

.form .cus-row textarea {
    width:400px;
    height:100px;
}

.form .cus-row select {
    width:185px;
}

.form .cus-row label {
    float:left;
    width:120px;
    margin-right:10px;
    margin-top:10px;
}

/*end form style */

#ui-datepicker-div  {
    display:none;
}

/*start sub-title */
.sub-title {
    margin-top:15px;
    height:40px;
    font-weight:bold;
    width:100%;
    line-height:20px;
    background-color:#00a0c4;
}

.sub-title p {
    line-height:20px;
    margin-left:25px;
    font-size:1.3em;
    color:white;
}

/*end sub-title */
#main-content h1 {
    padding-top:18px;
    line-height:4px;
    padding-left:25px;
    color:white;
    background-color:#7c7c7c;
    font-weight:bold;
    margin-bottom:50px;
    border-radius:3px;
}

/*start grid */
.grid-view-loading
{
    background:url(loading.gif) no-repeat;
}

.grid-view
{
    padding: 15px 0;
}

.grid-view table.items
{
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.3em;
}

.grid-view table.items th
{
    color: white;
    background: url("bg.gif") repeat-x scroll left top white;
    text-align: center;
}

.grid-view table.items th a
{
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th a:hover
{
    color: #FFF;
}

.grid-view table.items th a.asc
{
    background:url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc
{
    background:url(down.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items tr.even
{
    background: #F8F8F8;
}

.grid-view table.items tr.odd
{
    background: #E5F1F4;
}

.grid-view table.items tr.selected
{
    background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
    background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
    background: #ECFBD4;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
    width: 60px;
}

.grid-view .button-column img
{
    border: 0;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
}
/*end grid */

/* khuyen mai chi nhanh */

.khuyen-mai-chi-nhanh {
    border:1px solid;
    padding-left:130px;
    padding-top:10px;
    margin-top:10px;


}

.khuyen-mai-chi-nhanh #KhuyenMai_tblChiNhanhs input {

    width:100px;
    color:red;
}

.khuyen-mai-chi-nhanh #KhuyenMai_tblChiNhanhs label {
    float:left;
    width:180px;
}

/* detail view in chi tite */
table .detail-view {
    margin-top: -34px;
}
/* end detai view */


div.search-form {
    background: none repeat scroll 0 0 #EEEEEE;
    margin-top: -32px;
    padding-top: 3px;
    padding-bottom: 15px;
    padding-left:10px;
}

/* increase cgridview font-size */
.grid-view table.items th, .grid-view table.items td {
    font-size: 1em;
    padding-bottom: 6px !important;
}

/* end increase cgridview font-size */
/* new-product-form-dialog  */
#new-product-form-dialog {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

/* end new-product-form-dialog */
#ajax-image {
    position:absolute;
    top:455px;
    left:83%;
}

#ajax-link {
    position:absolute;
    top:463px;
    left:86%;
}

#ajax-link a {
    color:#00709e;
    font-weight:bold;
    font-style:italic;
}


